*{
    background: rgb(35, 102, 133);
    color: azure;
}
fieldset{
    position: relative ; 
    margin: auto;
    background: rgb(24, 73, 95);
    border-radius: 2vh;
    width: 45vh;
    margin-top: 18VH;
}
h1{
    text-align: center;
}
hr{
    color: rgb(100, 187, 228);
}
form{
    margin: auto;
    align-content: center;
    background: rgb(24, 73, 95);
}
table{
    width: 100%;
    margin-top: 8px;
    background: rgb(24, 73, 95);
}
td{
    margin: 0;
    padding:auto;
}
.button{
    cursor: pointer;
}
.textview{
    width: 80%;
    border-radius: 10px;
    padding: 8%;
    color: bisque;
}

input{
    margin: 0;
    padding: 2vh 2vw;
    border-radius: 3px;
    width: 100%;
    color: black;
}
footer{
    text-align: center;
    margin:0px;
    margin-top: 40px;
}